<div id="<%= dom_id room %>">
  <p>
    <strong>Room type:</strong>
    <%= room.room_type %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= room.price %>
  </p>

  <p>
    <strong>Availability:</strong>
    <%= room.availability %>
  </p>

</div>
